# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
*.log.gz
.cache
*.log
generated/

# other
eclipse
run
fml.toml

# Files from Forge MDK
forge*changelog.txt
